.backcolor
{
    background-color: rgb(186, 200, 214);
}


.marright
{
    margin-left: 15%;
}

.marnear
{
    margin-left: 200%;
}

.marleft
{
    padding-left: 380%;
}

.marlogo
{
    margin-left:40%;
}
.font
{
    font-size: 400%;
}